.headerContainer {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  padding-left: 10px;
}

.themeContainer {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
}

.themeLabel {
  padding-right: 6px;
  font-weight: bold;
}

.themeContainer > button {
  width: 75px;
}

.header {
  margin: 0;
  color: var(--primary);
}

.active {
  background-color: var(--secondary);
}

@media (min-width: 990px) {
  .headerFill {
    flex: 1 1 25%;
  }
  .themeContainer {
    justify-content: flex-end;
  }
}
