.listContainer {
  padding: 20px 10px
}

.preloader {
  align-items: center;
  background: var(--background);
  display: flex;
  height: calc(100vh - var(--header-height));
  justify-content: center;
  /* left: 0; */
  /* position: fixed; */
  top: var(--header-height);
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
  color: blue;
}

.noMoreResults {
  width: 320px;
  margin:auto;
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 5px;
  border: 2px solid var(--secondary);
  border-radius: 2px
}

@media (min-width: 990px) {
  .listContainer {
    max-width: 1400px;
    margin: auto;
  }
}
